<div class="container mt-4">
  <h2>Crear Categoría</h2>
  <form [formGroup]="form" (ngSubmit)="crearCategoria()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input formControlName = "name" type="text" id="nombre" class="form-control" placeholder="Ingrese el nombre de la categoría" />
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea formControlName = "desc" id="descripcion" class="form-control" rows="3" placeholder="Ingrese la descripción"></textarea>
    </div>
    <button type="submit" class="btn btn-primary me-3">Guardar</button>
    <button class="btn btn-primary gap-3" [routerLink]="['/categoria']">Regresar</button>
  </form>
</div>


