<div class="form-group">
    <label for="orderId">ID de la Orden</label>
    <input type="number" class="form-control" id="orderId" placeholder="Ingresa el ID de la orden">
    <button type="button" class="btn btn-primary mt-2">Buscar Orden</button>
  </div>
  
  <div class="order-details" >
    <h3>Detalles de la Orden</h3>
    <p><strong>ID de Mesa:</strong> </p>
    <p><strong>Platillos:</strong> </p>
    <p><strong>Estado:</strong> </p>
    <button type="button" class="btn btn-danger mt-2">Eliminar Orden</button>
  </div>
  
