<div class="container mt-4">
  <!-- Formulario de búsqueda -->
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">Buscar Cliente por ID</h5>
    </div>
    <div class="card-body">
      <form class="row g-3">
        <div class="col-md-9">
          <label for="clienteId" class="form-label">ID del Cliente</label>
          <input 
            #id 
            type="text" 
            id="clienteId" 
            class="form-control" 
            placeholder="Ingrese el ID del cliente">
        </div>
        <div class="col-md-3 d-flex align-items-end gap-3">
          <button 
            type="button" 
            class="btn btn-primary w-100" 
            (click)="buscarCliente(id.value)">
            Buscar
          </button>
          <button 
            type="button" 
            class="btn btn-primary w-100" 
            >
            Agregar
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Información del cliente -->
  <div *ngIf="cliente" class="card mt-4 shadow-sm">
    <div class="card-header bg-success text-white">
      <h5 class="mb-0">Información del Cliente</h5>
    </div>
    <div class="card-body">
      <p class="fs-5"><strong>Nombre:</strong> {{ cliente.name }}</p>
      <p><strong>Correo Electrónico:</strong> {{ cliente.email }}</p>
      <p><strong>Teléfono:</strong> {{ cliente.tel }}</p>
      <p><strong>DNI:</strong> {{ cliente.dni }}</p>
      <div class="col-md-3 d-flex align-items-end gap-3">
      <button type="button" 
      class="btn btn-success w-100" (click)="open()">Editar</button>
      <button type="button" 
      class="btn btn-danger w-100 ">Eliminar</button>
    </div>
    </div>
  </div>
  <app-cliente-list-modal *ngIf="isOpen"></app-cliente-list-modal>